<input type="file" (change)="fileChangeEvent($event)" />

<button *ngIf="croppedImage" (click)="rotateLeft()">Rotate left</button>
<button *ngIf="croppedImage" (click)="rotateRight()">Rotate right</button>
<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="false"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage" />