.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.e-input-group.e-control-wrapper {
  background: #ffffff !important;
}
.e-input-group .e-input-group-icon,
.e-input-group.e-control-wrapper .e-input-group-icon,
.e-input-group,
.e-input-group.e-control-wrapper {
  background: #ffffff !important;
}
.jumbotron {
  background-color: #ffffff;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
